.card, .form-group{
    margin: 1rem;
}
.search-bar{
    margin-top: 1rem;
}
.contains-all-items{
    height: 100vh;
}

.sidebar{
    background-color: #1E1E1E;
    color: white;
}
.sidebar-text{
    margin-top: 4.5rem;
    background-color: #1E1E1E;
}
.badge{
    background-color: #1E1E1E;
}

.mail-list{
    background-color: #3C4955;
    flex-direction: column;
    justify-content: flex-start;
}
.mail-cards{
    height: 80%;
}
.view-mail{
    background-color: #9098A0;
}

.form-control{
    resize:none;
}
.compose-button, .close-button, .check-button{
    margin-left: auto;
}
.individual-mail-card:hover, li:hover{
    cursor: pointer;
}
li:hover {
    background-color: #3C4955;
    color: white;
}